{% extends "admin/base.html" %}
{% load static %}  <!-- Add this line to load the static template library -->

{% block title %}DORA{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'images/logobmed.png' %}"
                 alt="Logo" style="height: 40px; vertical-align: middle; margin-right: 10px;">
        </a>
    </h1>
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dora.css' %}">
{% endblock %}