{% extends "admin/base.html" %}
{% load static %}  <!-- Add this line to load the static template library -->

{% block title %}DORA{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            <img src="{% static 'images/logobmed.png' %}"
                 alt="Logo" style="height: 40px; vertical-align: middle; margin-right: 10px;">
        </a>
    </h1>
{% endblock %}

{% block extrastyle %}
    <style>
        body { background-color: #0c299e; }
        #header { background-color: #81b2e2; color: rgb(211, 228, 29); }
        #site-name a { color: rgba(5, 1, 19, 0.488); font-weight: bold; }
    </style>
{% endblock %}